<!-- application.html.erb will set this to the body's background color -->
<% @background_color="green accent-1" %>

<div class="container">
  <br>
  <br>

  <div class="row" style="margin-bottom: 10px">
    <form class="col s12">
      <div class="input-field col m10 s12">
        <i class="material-icons prefix">search</i>
        <%= form_tag(welcome_index_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], autofocus: true, onfocus: "this.select();" %>
        <% end %>
        <label for="search">What item are you looking for?</label>
      </div>
    </form>
  </div>

  <!--TODO:sb Transition in and out -->
  <div class="row">
    <div class="col m10 s12">
      <% if !params[:search].blank? && !@item.nil? && @item.associations.any? %>
          <h5><%= @item.name.capitalize %> can be found near:</h5>

          <table>
            <thead><tr>
              <th>Item Name</th>
              <th>Likelihood</th>
            </tr></thead>

            <tbody>
            <!--TODO:sb The font size of the results should increase based on ranking. I.e. A ranking of '100' should be very large-->
            <%= render partial: "association", collection: @item.associations.limit(10).order("ranking desc") %>
            </tbody>
          </table>
      <% elsif !params[:search].blank? && !@item.nil? && !@item.associations.any? %>
          <div class="flow-text center">
            We're not yet sure what you can find around '<%= @item.name.capitalize %>'.
          </div>
      <% elsif !params[:search].blank? && @item.nil? %>
          <div class="flow-text center">
            No matching items were found.
          </div>
      <% else %>
          <div class="flow-text center">
            Try:
            <span style="font-size: 1.1rem">
              <i>Quinoa, Lentils, Tape Measures, Tangerines, Shovels, Barley, Pesto, SauerKraut</i>
            </span>
          </div>
      <% end %>
    </div>
  </div>
</div>