<!-- application.html.erb will set this to the body's background color -->
<% @background_color="grey lighten-4" %>

<div class="container">
  <br>
  <br>

  <div class="row">
    <form class="col s12" autocomplete="off" style="margin-bottom: 5px;">
      <div class="input-field col m8 s12 offset-m2">
        <i class="material-icons prefix">search</i>
        <%= form_tag(welcome_index_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], autofocus: params[:search].blank? ? true : false, style: "margin-bottom: 10px; -webkit-tap-highlight-color: transparent;" %>
        <% end %>
        <label for="search">What item are you looking for?</label>
      </div>
    </form>

    <div class="col m8 s12 offset-m2 center">
      <% if !params[:search].blank? && !@item.nil? && @item.associations.any? %>
          <div class="flow-text">
            <i><%= @item.name.capitalize %> can be found near:</i>
          </div>

          <table>
            <tbody>
              <%= render partial: 'association', collection: @item.associations.limit(10).order("ranking desc") %>
            </tbody>
          </table>
      <% elsif !params[:search].blank? && !@item.nil? && !@item.associations.any? %>
          <div class="flow-text">
            We're still figuring out how to help you find '<%= @item.name.capitalize %>'.
          </div>
      <% elsif !params[:search].blank? && @item.nil? %>
          <div class="flow-text">
            No matching items were found.
            <% if params[:search].length < 3 %>
                <div>
                  Try adding more letters to your search term.
                </div>
            <% end %>
          </div>
      <% else %>
          <div class="flow-text">
            Try:
            <span style="font-size: 1.1rem">
              <i>Quinoa, Lentils, Tape Measures, Tangerines, Shovels, Barley, Pesto, SauerKraut</i>
            </span>
          </div>
      <% end %>
    </div>
  </div>
</div>