<!DOCTYPE html>
<html>
  <head>
    <title>Item Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <main>
    <body class="<%= @background_color %>">
      <nav class="teal lighten-1" role="navigation">
        <div class="nav-wrapper container">
          <%= link_to 'Item Finder', welcome_index_path, class: 'brand-logo' %>

          <ul class="right">
            <li><%= link_to welcome_more_info_path do %>
              <span class="hide-on-med-and-down">More Info</span>
              <i class="material-icons hide-on-large-only">info</i>
            <%= end %></li>
          </ul>
        </div>
      </nav>

      <%= yield %>
    </body>
  </main>

  <!-- Hide the footer on System Admin pages -->
  <% if controller_name == "welcome" %>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          <%= link_to 'Item Finder', welcome_index_path, class: 'black-text' %>

          <div class="right">
            <%= link_to 'Feedback', welcome_feedback_form_path, class: 'teal-text text-darken-1' %>
          </div>
        </div>
      </div>
    </footer>
  <% end %>
</html>
